/Backend/.vs
Backend/.vs/DHSX.System/DesignTimeBuild/.dtbcache.v2
Backend/.vs/DHSX.System/v18/.suo
Backend/.vs/DHSX.System/v18/DocumentLayout.backup.json
Backend/.vs/DHSX.System/v18/DocumentLayout.json
Backend/.vs/ProjectEvaluation/dhsx.system.metadata.v10.bin
Backend/.vs/ProjectEvaluation/dhsx.system.projects.v10.bin
Backend/.vs/ProjectEvaluation/dhsx.system.strings.v10.bin
Backend/DHSX.Web.Application/obj/Debug/net9.0/DHSX.Web.Application.AssemblyInfo.cs
Backend/DHSX.Web.Application/obj/Debug/net9.0/DHSX.Web.Application.AssemblyInfoInputs.cache
Backend/DHSX.Web.Infrastructure/obj/Debug/net9.0/DHSX.Web.Infrastructure.AssemblyInfo.cs
Backend/DHSX.Web.Infrastructure/obj/Debug/net9.0/DHSX.Web.Infrastructure.AssemblyInfoInputs.cache
Backend/.vs/DHSX.System/DesignTimeBuild/.dtbcache.v2
Backend/.vs/DHSX.System/v18/.suo
Backend/.vs/DHSX.System/v18/DocumentLayout.backup.json
Backend/.vs/DHSX.System/v18/DocumentLayout.json
Backend/.vs/ProjectEvaluation/dhsx.system.metadata.v10.bin
Backend/.vs/ProjectEvaluation/dhsx.system.projects.v10.bin
Backend/.vs/ProjectEvaluation/dhsx.system.strings.v10.bin
Backend/DHSX.Web.Application/obj/Debug/net9.0/DHSX.Web.Application.AssemblyInfo.cs
Backend/DHSX.Web.Application/obj/Debug/net9.0/DHSX.Web.Application.AssemblyInfoInputs.cache
Backend/DHSX.Web.Infrastructure/obj/Debug/net9.0/DHSX.Web.Infrastructure.AssemblyInfo.cs
Backend/DHSX.Web.Infrastructure/obj/Debug/net9.0/DHSX.Web.Infrastructure.AssemblyInfoInputs.cache
